@charset 'UTF-8';
// always display the navbar
$navbar-breakpoint: 0;
$primary: #1a427e;
$primary-light: rgba(26, 66, 126, 0.96);
$navbar-item-hover-color: $primary;
@import 'bulma/bulma.sass';

.button {
  svg {
    height: $size-6;
    margin-right: 0.25rem;
  }
  &.is-medium {
    svg {
      height: $size-5;
      margin-right: 0.25rem;
    }
  }
}

.is-size-65 {
  font-size: 0.85rem;
  h5 {
    font-size: 1rem !important;
  }
}
